<section>
    <div style="background-color: #1f2125; color: white; padding-top: 50px;">
        <div class="container">
        <div class="row">
            <div class="col-lg-4" >
                <h5>TRIPURA OBSERVER</h5>
            <hr style="background-color: #bb1919; width: 60px; height: 2px; margin: 0;"> 
            <p style="margin-top: 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-lg-4">
                <h5>Recent posts</h5>
            <hr style="background-color: #bb1919; width: 60px; height: 2px; margin: 0;"> 
            <p style="margin-top: 20px;"><a style="color: white;" href="">Google hit with record EU fine over Shopping service</a></p>
            <p><a style="color: white;" href="">Business booming for giant cargo planes</a></p>
            <p><a style="color: white;" href="">Trump-Putin: Your toolkit to help understand the story</a></p>
            <p><a style="color: white;" href="">‘Somebody threatened to burn the school down’</a></p>
            <p><a style="color: white;" href="">Searching for the forgotten heroes of World War Two</a></p>
            </div>
            <div class="col-lg-4 footerfield">
                <h5>Categories</h5>
            <hr style="background-color: #bb1919; width: 60px; height: 2px; margin: 0;"> 
            <div>
                <button class="btn btn-outline-light category-button" style="margin-right: 10px; margin-top: 20px; color: white;">Agartala</button>
                <button class="btn btn-outline-light category-button" style="margin-right: 10px; margin-top: 20px; color: white;">Tripura</button>
                <button class="btn btn-outline-light category-button" style="margin-right: 10px; margin-top: 20px; color: white;">politics</button>
                <button class="btn btn-outline-light category-button" style="margin-right: 10px; margin-top: 20px; color: white;">National</button>
                <button class="btn btn-outline-light category-button" style="margin-right: 10px; margin-top: 20px; color: white;">International</button>
            </div>
            </div>
        </div>
        <a style="color: white;" href="">Home</a>
    </div> 
    <div style="text-align: right; padding-right: 12%;">
        <a href=""> <i class="instagram fab fa-instagram" data-fa-transform="shrink-8"></i> </a>
        <a href=""> <i class="facebook fab fa-facebook-f" data-fa-transform="shrink-8"></i> </a>
        <a href=""> <i class="twitter fab fa-twitter" data-fa-transform="shrink-8"></i> </a>
        <a href=""> <i class="linkedin fab fa-linkedin-in" data-fa-transform="shrink-8"></i> </a>
        <a href=""> <i class="youtube fab fa-youtube" data-fa-transform="shrink-8"></i> </a>
    </div>
</div>
<div style="background-color: #bb1919 ; height: 50px;"></div>
</section>


</section>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>


</body>
</html>