<%- include('partials/header') %>

    <section style="background-color: #f5f5f5">
    <div class="container" style="background-color: white;">
        
        <div class="content">
          <a href="">HOME/</a>
          <a href="">BLOG/</a>
          <a href="">TRUMP-PUTIN: YOUR TOOLKIT TO HELP UNDERSTAND THE STORY</a>
        </div>

        <div>
            <a href=""><div class="header-details" style="background-color: #bb1919;">Business</div></a>
            <a href=""><div class="header-details" style="background-color: #337ab7;">Newsbeat</div></a>
        </div>

        <div class="entry-title">
            <h1 class="entry">Trump-Putin: Your toolkit to help understand the story</h1>
        </div>

        <div class="clock">
            <i class="far fa-clock fa-lg"></i>
            2 years ago
            <a class="theme" href="">AF themes</a>
        </div>

        <div class="post-excerpt">
            <p class="intro-content">Torem ipsum dolor sit amet,sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,  At vero eos et accusam et justo duo dolores et ea rebum.  Lorem ipsum dolor sit amet,  no sea takimata sanctus est Lorem ipsum dolor sit amet.  Stet clita kasd gubergren,  no sea takimata sanctus est Lorem ipsum dolor sit amet.  no sea takimata sanctus est Lorem ipsum dolor sit amet.  no sea takimata sanctus est Lorem ipsum dolor sit amet.  sed diam voluptua.  </p>
        </div>

        <div class="wrapper">
            <img width="1113" src="https://demo.afthemes.com/covernews/wp-content/uploads/2018/07/pexels-photo-936237-1-1-1024x575.jpeg" alt="">
        </div>

        <div class="entry-content">
            <p>Lorem ipsum dolor sit amet,sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit amet, no sea takimata sanctus est Lorem ipsum dolor sit amet. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. no sea takimata sanctus est Lorem ipsum dolor sit amet. no sea takimata sanctus est Lorem ipsum dolor sit amet. sed diam voluptua. Lorem ipsum dolor sit amet,sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit amet, no sea takimata sanctus est Lorem ipsum dolor sit amet. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. no sea takimata sanctus est Lorem ipsum dolor sit amet. no sea takimata sanctus est Lorem ipsum dolor sit amet. sed diam voluptua.  Lorem ipsum dolor sit amet,sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit amet, no sea takimata sanctus est Lorem ipsum dolor sit amet. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. no sea takimata sanctus est Lorem ipsum dolor sit amet. no sea takimata sanctus est Lorem ipsum dolor sit amet. sed diam voluptua.</p>
            <p>Lorem ipsum dolor sit amet,sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit amet, no sea takimata sanctus est Lorem ipsum dolor sit amet. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. no sea takimata sanctus est Lorem ipsum dolor sit amet. no sea takimata sanctus est Lorem ipsum dolor sit amet. sed diam voluptua.</p>
        </div>



        <div class="container" style=" padding: 0; margin-top: 20px; padding-bottom: 40px;" >
            <h5>You may have missed</h5>
            <hr style="background-color: #bb1919; width: 60px; height: 2px; margin: 0;">
            <div class="row" style="margin-top: 15px;">
                <div class="col-sm-6 col-lg-3">
                    <div style=" background-color: white; width: 265px;">
                        <a href="https://demo.afthemes.com/covernews/blog/google-hit-with-record-eu-fine-over-shopping-service/">
                            <img style="height: 250px; width: 265px;"
                                 src="https://demo.afthemes.com/covernews/wp-content/uploads/2018/07/pexels-photo-936237-1-1-936x897.jpeg"
                                 alt="">
                            <p style="margin-top: 5px; font-weight: 700; text-align: center;">Trump-Putin: Your toolkit to
                                help understand the story </p>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div style=" background-color: white; width: 265px; ">
                        <a href="https://demo.afthemes.com/covernews/blog/google-hit-with-record-eu-fine-over-shopping-service/">
                            <img style="height: 250px; width: 265px; "
                                 src="https://demo.afthemes.com/covernews/wp-content/uploads/2018/07/green-attraction-war-museum-1-1-936x897.jpg"
                                 alt="">
                            <p style="margin-top: 5px; font-weight: 700; text-align: center;">Searching for the forgotten
                                heroes of World War Two </p>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div style=" background-color: white; width: 265px; ">
                        <a href="https://demo.afthemes.com/covernews/blog/google-hit-with-record-eu-fine-over-shopping-service/">
                            <img style="height: 250px;width: 265px; "
                                 src="https://demo.afthemes.com/covernews/wp-content/uploads/2018/07/cargo-jet-c-17-airdrop-humvee-70347-1-1-936x897.jpeg"
                                 alt="">
                            <p style="margin-top: 5px; font-weight: 700; text-align: center;">Business booming for giant
                                cargo planes dh </p>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div style=" background-color: white; width: 265px;">
                        <a href="https://demo.afthemes.com/covernews/blog/google-hit-with-record-eu-fine-over-shopping-service/">
                            <img style="height: 250px; width: 265px;"
                                 src="https://demo.afthemes.com/covernews/wp-content/uploads/2018/07/bar-local-cong-ireland-38286-1-1-936x897.jpeg"
                                 alt="">
                            <p style="margin-top: 5px; font-weight: 700; text-align: center;">Google hit with record EU fine
                                over Shopping service </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>


    </div>
    </section>



    <%- include('partials/footer') %>


    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>


</body>
</html> -->