<%- include("partials/header"); -%>

    <!-- header -->
      <section id="homepg">
        <div class="container homedetails" style="background-image:url(images/blog/shape-a.png) ;">
            <div class="row">
                <div class="col-sm-3  col-lg-5 home1">
                    <h3>
                        CORONA <b style="color: #FF5363;">COVID-19</b> VIRUS

                    </h3>
                    <p>
                        The Coronavirus (COVID-19) was first reported in Wuhan, Hubei, China in
                        December 2019, the outbreak was later recognized as a pandemic by the
                        World Health Organization (WHO) on 11 March 2020.
                    </p>
                    <div class="homebtn">
                        <a href="#do-dont" class="btn btn-primary btn-md  pro-btn " role="button" aria-disabled="true">How to Protect <i class="fas fa-shield-virus"></i></a>
                        <a class="btn-about" href="#about"><b>About COVID-19</b><i class='fas fa-angle-right'></i></a>
                    </div>

                </div>
                <div class="col-sm-9 col-lg-7">
                    <img src="images/gfx/header-a.png" width="100%" height="100%" />
                </div>
            </div>
        </div>
    </section>


    <!-- ABOUT -->
<section id="about">
    <div class="container-fluid">
        <h5>ABOUT THE DISEASE</h5>
        <h3>CORONAVIRUS (COVID-19)</h3>
        <p>
            <b>COVID-19 is a new illness that can affect your lungs and airways.</b> It's
            caused by a virus called coronavirus.<br> It was discovered in December 2019
            in Wuhan, Hubei, China.<br>Common signs of infection include respiratory
            symptoms, fever, cough, shortness of breath and breathing difficulties.<br>
            In more severe cases, infection can cause pneumonia, severe acute
            respiratory syndrome, kidney failure and even death.<br> Standard
            recommendations to prevent infection spread include regular hand
            washing, covering mouth and nose when coughing and sneezing,<br> thoroughly
            cooking meat and eggs. Avoid close contact with anyone showing symptoms
            of respiratory illness such as coughing and sneezing.
        </p>
    </div>
</section>

    <!-- spread coronavirus -->
<section id="spread">
    <div>
        <h5>HOW CORONAVIRUS IS SPREAD</h5>
        <h3>TRANSMISSION OF COVID-19</h3>
        <p>
            Because it's a new illness, we do not know exactly how coronavirus
            spreads<br> from person to person. Similar viruses are spread in cough
            droplets.
        </p>
        <div class="container spread-card">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top spreadimg" src="images/gfx/spread-a.png" alt="Spread" >
                        <div class="card-body">
                            <p class="card-head">Person-to-person spread as close contact with infected</p>
                            <p class="card-text">The coronavirus is thought to spread mainly from person to person. 
                                This can happen between people who are in close contact with one another.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top spreadimg" src="images/gfx/spread-b.png" alt="Spread">
                        <div class="card-body">
                            <p class="card-head">Touching or contact with infected surfaces or objects</p>
                            <p class="card-text">A person can get COVID-19 by touching a surface or object 
                                that has the virus on it and then touching their own mouth, nose, or possibly their eyes.</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top spreadimg" src="images/gfx/spread-c.png" alt="Spread">
                        <div class="card-body">
                            <p class="card-head">Droplets that from infected person coughs or sneezes</p>
                            <p class="card-text">The coronavirus is thought to spread mainly from person to person. 
                                This can happen between people who are in close contact with one another.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>     
</section>

        <!-- SYMPTOMS OF CORONAVIRUS -->
<section id="symptom">
        <div>
            <h5>WHAT ARE THE SYMPTOMS OF COVID-19?</h5>
            <h3>SYMPTOMS OF CORONAVIRUS</h3>
            <p>
                The most common symptoms of COVID-19 are fever, tiredness, and dry cough.
                Some patients may<br> have aches and pains, nasal congestion, runny nose, sore throat or diarrhea.
                These symptoms are <br>usually mild and begin gradually. Also the symptoms may appear 2-14 days after
                exposure.
            </p>
            <div class="container symptoms">
            <div class="row">
                <div class="col-lg-4">
                    <img class="rounded-circle symptom-img"
                        src="images/gfx/symptom-a.png"
                        alt="Symptom image" width="100" height="100">
                    <h2>Fever</h2>
                    <p><b>High Fever</b> – this means you feel hot to touch on your chest or back 
                        (you do not need to measure your temperature). 
                        It is a common sign and also may appear in 2-10 days if you affected.</p>
                    <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
                </div>
                <div class="col-lg-4">
                    <img class="rounded-circle symptom-img"
                        src="images/gfx/symptom-b.png"
                        alt="Symptom image" width="100" height="100">
                    <h2>Cough</h2>
                    <p><b>Continuous cough</b> – this means coughing a lot for more than an hour, 
                        or 3 or more coughing episodes in 24 hours (if you usually have a cough,
                         it may be worse than usual).</p>
                </div>
                <div class="col-lg-4">
                    <img class="rounded-circle symptom-img"
                        src="images/gfx/symptom-c.png"
                        alt="Symptom image" width="100" height="100">
                    <h2>Shortness of breath</h2>
                    <p><b>Difficulty breathing</b> – Around 1 out of every 6 people 
                        who gets COVID-19 becomes seriously ill and develops 
                        difficulty breathing or shortness of breath.</p>
                </div>
            </div>
        </div>
    </div>
</section>

        <!-- protection -->

        <section id="prevention">
            <div class="container">
                <h5>HOW TO PROTECT YOURSELF?</h5>
                <h3>PREVENTION & ADVICE</h3>
                <p>
                    There is currently no vaccine to prevent coronavirus disease 2019 (COVID-19).
                    The best way to prevent<br> illness is to avoid being exposed to this virus.
                    Stay aware of the latest information on the COVID-19<br> outbreak,
                    available on the WHO website and through your national and local public health authority.
                </p>
                <div class="row prevent-info">
                    <div class="col-lg-3">
                        <img class="rounded-circle prevent-img"
                            src="images/gfx/advice-a.png"
                            alt="Advice image" width="120" height="120">
                        <h2>Wash your hands frequently</h2>
                        <p>Regularly and thoroughly clean your hands with
                             an alcohol-based hand rub or wash them with soap
                             and water for at least 20 seconds.</p>

                    </div>
                    <div class="col-lg-3">
                        <img class="rounded-circle prevent-img"
                            src="images/gfx/advice-b.png"
                            alt="Advice image" width="120" height="120">
                        <h2>Maintain social distancing</h2>
                        <p>Maintain at least 1 metre (3 feet) distance between yourself &
                            anyone who is coughing or sneezing. If you are too close, get chance to infected.</p>

                    </div>
                    <div class="col-lg-3">
                        <img class="rounded-circle prevent-img"
                            src="images/gfx/advice-c.png"
                            alt="Advice image" width="120" height="120">
                        <h2>Avoid touching face</h2>
                        <p>Hands touch many surfaces and can pick up viruses.
                         So, hands can transfer the virus to your eyes, nose or mouth and can make you sick.</p>

                    </div>
                    <div class="col-lg-3">
                        <img class="rounded-circle prevent-img"
                            src="images/gfx/advice-d.png"
                            alt="Advice image" width="120" height="120">
                        <h2>Practice respiratory hygiene</h2>
                        <p>Maintain good respiratory
                             hygiene as covering your mouth & nose with your
                             bent elbow or tissue when cough or sneeze.</p>

                    </div>
                </div>
            </div>


        <div class="container prevent-card">
            <div class="card">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card-body">
                            <h4 class="card-title">Take steps to protect others</h4>
                            <ul class="card-text">
                                <li style="list-style-image:url(images/blog/check-mark.png);"><b>Stay home if you’re sick</b> – Stay home if you are sick,
                                    except to get medical care.
                                </li>
                                <li style="list-style-image:url(images/blog/check-mark.png);"><b>Cover your mouth and nose</b> – with a tissue when you cough or sneeze
                                    (throw used tissues in the trash) or use the inside of your elbow.</li>
                                <li style="list-style-image:url(images/blog/check-mark.png);"><b>Wear a facemask if you are sick</b> – You should wear a facemask when
                                    you are around other people (e.g., sharing a room or vehicle)
                                    and before you enter a healthcare provider’s</li>
                                <li style="list-style-image:url(images/blog/check-mark.png);"><b>Clean AND disinfect frequently touched surfaces daily</b> –
                                    This includes phones, tables, light switches, doorknobs,
                                    countertops, handles, desks, toilets, faucets, and sinks.</li>
                                <li style="list-style-image:url(images/blog/check-mark.png);"><b>Clean the dirty surfaces</b> – Use detergent or soap and water prior to disinfection.
                                </li>
                                <li style="list-style-image:url(images/blog/check-mark.png);"><b>Stay informed about the local COVID-19 situation</b> –
                                    Get up-to-date information about local COVID-19 activity from public health
                                    officials.</li>
                                <li style="list-style-image:url(images/blog/check-mark.png);"><b>Dedicated, lined trash can</b> – If possible, dedicate a lined trash can for the ill
                                    person.
                                    Use gloves when removing garbage bags, and handling & disposing of trash.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img src="images/gfx/steps.png" width="80%" height="80%">
                    </div>
                </div>
            </div>
        </div>

        <div class=" container follow-steps">
            <h3>Follow steps to wash hands</h3>
            <h6>Why do I need wash hand</h6>
            <div class="row follow-part">
                <div class="col-lg-2">
                    <img class="rounded-circle prevent-img"
                        src="images/gfx/hand-a.png"
                        alt="follow steps image" width="100" height="100">
                    <p>Soap on Hand</p>
                </div>
                <div class="col-lg-2">
                    <img class="rounded-circle prevent-img"
                        src="images/gfx/hand-b.png"
                        alt="follow steps image" width="100" height="100">

                    <p>Palm to Palm</p>

                </div>
                <div class="col-lg-2">
                    <img class="rounded-circle prevent-img"
                        src="images/gfx/hand-c.png"
                        alt="follow steps image" width="100" height="100">

                    <p>Between Fingers</p>

                </div>
                <div class="col-lg-2">
                    <img class="rounded-circle prevent-img"
                        src="images/gfx/hand-d.png"
                        alt="follow steps image" width="100" height="100">

                    <p>Back to Hands</p>

                </div>
                <div class="col-lg-2">
                    <img class="rounded-circle prevent-img"
                        src="images/gfx/hand-e.png"
                        alt="follow steps image" width="100" height="100">

                    <p>Clean with Water</p>
                </div>
                <div class="col-lg-2">
                    <img class="rounded-circle prevent-img"
                        src="images/gfx/hand-f.png"
                        alt="follow steps image" width="100" height="100">

                    <p>Focus on Wrist</p>

                </div>
            </div>
        </div>
</section>

<section id="treatment" style="background-image:url(images/blog/shape-c.png) ;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 treat-1">
                <h5>BE CAREFULL & STAY SAFE</h5>
                <h3>TREATMENT FOR CORONAVIRUS</h3>
                <p><b>To date, there is no vaccine and no specific antiviral medicine to prevent or treat
                    COVID-2019.</b></p>
                <p class="sec"> However, those affected should receive care to relieve symptoms. People with serious illness
                    should be hospitalized. Most patients recover thanks to supportive care.

                    Antibiotics do not help, as they do not work against viruses.
                    Treatment aims to relieve the symptoms while your body fights the illness.
                    You'll need to stay in isolation, away from other people, until you have recovered.</p>
            </div>
            <div class="col-lg-6 treat-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Self Care</h5>

                        If you have mild symptoms, stay at home until you’ve recovered. You can relieve your
                        symptoms if
                        you:
                        <ul>
                            <li>Rest and sleep</li>
                            <li>Keep warm</li>
                            <li>Drink plenty of liquids</li>
                            <li>Use a room humidifier or take a hot shower to help ease a sore throat and cough
                            </li>
                        </ul>
                        <h5 class="card-title">Medical Treatments</h5>
                        If you develop a fever, cough, and have difficulty breathing, promptly seek medical
                        care.
                        Call in advance and tell your health provider of any recent travel or recent contact
                        with travelers.
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


        <section id="do-dont">

            <div class="container">
                <h5>DO’S & DON’TS</h5>
                <h3>PROTECT YOURSELF</h3>
                <p>The best thing you can do now is plan for how you can adapt your daily routine.
                    Take few steps<br> to protect yourself as Clean your hands often, Avoid close contact,
                    Cover coughs and sneezes, clean daily<br> used surfaces etc.
                    The best way to prevent illness is to avoid being exposed to this virus.</p>

                <div class=" container-fluid row do-dont-part">
                    <div class="col-md-3">
                        <div class="dont-part">

                            <div class="frame">
                            <p>Avoid Close Contact</p>

                            <i class="fas fa-times rounded-circle dont-check"></i>
                            <img class="rounded-circle dont-imgs " src="images/gfx/donts-a.png"
                                alt="Generic placeholder image" width="140" height="140" >
                            </div>

                             <div class="frame">
                            <p>Don’t Touch Face</p>
                            <i class="fas fa-times rounded-circle dont-check"></i>
                            <img class="rounded-circle dont-imgs " src="images/gfx/donts-b.png"
                                alt="Generic placeholder image" width="140" height="140" >
                            </div>

                            <div class="frame">
                            <p>Social Distancing</p>
                            <i class="fas fa-times rounded-circle dont-check"></i>
                            <img class="rounded-circle dont-imgs" src="images/gfx/donts-c.png"
                                alt="Generic placeholder image" width="140" height="140" >
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <img src="images/gfx/protect.png" width="100%" height="100%">
                    </div>

                    <div class="col-md-3">
                        <div class="do-part">

                            <div class="frame">

                            <p>Wash Your Hands</p>
                            <i class="fas fa-check rounded-circle do-check"></i>
                            <img class="rounded-circle dont-imgs" src="images/gfx/dos-a.png"
                                alt="Generic placeholder image" width="140" height="140">


                            </div>

                            <div class="frame">
                            <p>Drink Much Water</p>
                            <i class="fas fa-check rounded-circle do-check"></i>
                            <img class="rounded-circle dont-imgs" src="images/gfx/dos-b.png"
                                alt="Generic placeholder image" width="140" height="140" >
                            </div>

                            <div class="frame">
                            <p>Use Face Mask</p>
                            <i class="fas fa-check rounded-circle do-check"></i>
                            <img class="rounded-circle dont-imgs" src="images/gfx/dos-c.png"
                                alt="Generic placeholder image" width="140" height="140" >
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section id="blogs">
            <div class="container">
                <h5>RECENT FROM BLOG</h5>
                <h3>LATEST UPDATE</h3>

                <div class="row blog-part">
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top spreadimg" src="images/blog/blog-a.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-head">Caring for someone at home</p>
                                <p class="card-text">Most people who get sick with COVID-19 will have only mild illness
                                     and should recover at home. Care at home can help stop the spread of COVID-19.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top spreadimg" src="images/blog/blog-b.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-head">15 ways to keep safe and healthy</p>
                                <p class="card-text">Most people who get sick with COVID-19 will have
                                    only mild illness and should recover at home. Care at home can help stop the spread of COVID-19.</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top spreadimg" src="images/blog/blog-c.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-head">If You Think You Are Sick</p>
                                <p class="card-text">If you are sick with COVID-19 or think you might have it,
                                    follow the steps below to help protect other people in your home and community.</p>
                            </div>
                        </div>
                    </div>
                </div>
        </section>


        <%- include("partials/footer"); -%>       