<%- include('partials/header') %>

<section class="News">
    <div class="container">
        <div class="row">
            <div class="col flash-header">
                <div style="height: 20px; width: 20px; float: left; margin-right: 10px;">
                    <div class="alert-spinner">
                        <div class="double-bounce1"></div>
                        <div class="double-bounce2"></div>
                    </div>
                </div>
                <h3 style="font-size: 15px; font-weight: bold">FLASH STORY</h3>
            </div>
            <div class="col-lg-10" style="background-color: white;">
                <div class="exclusive-slides" dir="ltr">
                    <marquee behavior="" direction="">
                        <a style="margin-right: 40px; "
                           href="https://demo.afthemes.com/covernews/blog/google-hit-with-record-eu-fine-over-shopping-service/">
                            Google hit with record EU fine over Shopping service
                        </a>
                        <a style="margin-right: 40px; "
                           href="https://demo.afthemes.com/covernews/blog/business-booming-for-giant-cargo-planes/">
                            Business booming for giant cargo planes
                        </a>
                        <a style="margin-right: 40px; "
                           href="https://demo.afthemes.com/covernews/blog/trump-putin-your-toolkit-to-help-understand-the-story/">
                            Trump-Putin: Your toolkit to help understand the story
                        </a>
                        <a style="margin-right: 40px;"
                           href="https://demo.afthemes.com/covernews/blog/somebody-threatened-to-burn-the-school-down/">
                            Somebody threatened to burn the school
                        </a>
                        <a style="margin-right: 40px;"
                           href="https://demo.afthemes.com/covernews/blog/searching-for-the-forgotten-heroes-of-world-war-two/">
                            Searching for the forgotten heroes of World War Two
                        </a>
                    </marquee>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="padding: 0;">
        <div class="row" style="margin-top: 40px;">
            <div class="col-md-6">
                <h5>Headlines</h5>
                <hr style="background-color: #bb1919; width: 60px; height: 2px; margin: 0; ">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel"
                     style="margin-top: 15px; margin-bottom: 20px;">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="">
                                <div style="background-image: url(https://demo.afthemes.com/covernews/wp-content/uploads/2018/07/bar-local-cong-ireland-38286-1-1-936x897.jpeg);height: 450px; background-size: cover;">
                                    <h2 class="mainstoryheader">Google hit with record EU fine over Shopping
                                        service</h2>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="">
                                <div style="background-image: url(https://demo.afthemes.com/covernews/wp-content/uploads/2018/07/cargo-jet-c-17-airdrop-humvee-70347-1-1-936x897.jpeg);height: 450px; background-size: cover;">
                                    <h2 class="mainstoryheader">Business booming for giant cargo planes</h2>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="">
                                <div style="background-image: url(https://demo.afthemes.com/covernews/wp-content/uploads/2018/07/pexels-photo-936237-1-1-936x897.jpeg);height: 450px; background-size: cover;">
                                    <h2 class="mainstoryheader">Trump-Putin: Your toolkit to help understand the
                                        story</h2>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="">
                                <div style="background-image: url(https://demo.afthemes.com/covernews/wp-content/uploads/2018/07/classroom-2093744_1920-1-936x897.jpg);height: 450px; background-size: cover;">
                                    <h2 class="mainstoryheader">Somebody threatened to burn the school down</h2>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="">
                                <div style="background-image: url(https://demo.afthemes.com/covernews/wp-content/uploads/2018/07/green-attraction-war-museum-1-1-936x897.jpg);height: 450px; background-size: cover;">
                                    <h2 class="mainstoryheader">Searching for the forgotten heroes of World War Two</h2>
                                </div>
                            </a>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 editorspickdiv" style="padding-left: 0;">
                <h5></h5><br>
                <hr style="background-color: #F5F5F5; width: 0; height: 2px; margin: 0;">
                <a href="">
                    <div style="background-image: url(https://demo.afthemes.com/covernews/wp-content/uploads/2018/07/pexels-photo-936237-1-1-936x897.jpeg);height: 220px; background-size: cover; margin-top: 15px;">
                        <h5 class="editorspickheader">Trump-Putin: Your toolkit to help understand the story</h5>
                    </div>
                </a>
                <a href="">
                    <div style="background-image: url(https://demo.afthemes.com/covernews/wp-content/uploads/2018/07/green-attraction-war-museum-1-1-936x897.jpg);height: 220px; background-size: cover; margin-top: 10px;">
                        <h5 class="editorspickheader">Searching for the forgotten heroes of World War Two</h5>
                    </div>
                </a>

            </div>
            <div class="col-md-3 col-sm-6" style="padding-left: 0;">
                <h5></h5><br>
                <hr style="background-color: #F5F5F5; width: 0; height: 2px; margin: 0;">
                <div style="margin-top: 15px; margin-bottom: 0; background-color: white; height: 105px;">
                    <a href="https://demo.afthemes.com/covernews/blog/google-hit-with-record-eu-fine-over-shopping-service/">
                        <img style="height: 105px; width: 100px; margin-right: 7px; float: left;"
                             src="https://demo.afthemes.com/covernews/wp-content/uploads/2018/07/bar-local-cong-ireland-38286-1-1-150x150.jpeg"
                             alt="">
                        <p style="padding-top: 15px; padding-bottom: 15px;">Google hit with record EU fine over Shopping
                            service</p>
                    </a>
                </div>
                <div style=" background-color: white; height: 105px; margin-top: 10px;">
                    <a href="https://demo.afthemes.com/covernews/blog/google-hit-with-record-eu-fine-over-shopping-service/">
                        <img style="height: 105px; width: 100px; margin-right: 7px; float: left;"
                             src="https://demo.afthemes.com/covernews/wp-content/uploads/2018/07/cargo-jet-c-17-airdrop-humvee-70347-1-1-150x150.jpeg"
                             alt="">
                        <p style="padding-top: 15px; padding-bottom: 15px;">Business booming for giant cargo planes
                            dh</p>
                    </a>
                </div>
                <div style=" background-color: white; height: 105px; margin-top: 10px;">
                    <a href="https://demo.afthemes.com/covernews/blog/google-hit-with-record-eu-fine-over-shopping-service/">
                        <img style="height: 105px; width: 100px; margin-right: 7px; float: left;"
                             src="https://demo.afthemes.com/covernews/wp-content/uploads/2018/07/pexels-photo-936237-1-1-150x150.jpeg"
                             alt="">
                        <p style="padding-top: 15px; padding-bottom: 15px;">Trump-Putin: Your toolkit to help understand
                            the story</p>
                    </a>
                </div>
                <div style=" background-color: white;height: 105px;margin-top: 10px;">
                    <a href="https://demo.afthemes.com/covernews/blog/google-hit-with-record-eu-fine-over-shopping-service/">
                        <img style="height: 105px; width: 100px; margin-right: 7px; float: left;"
                             src="https://demo.afthemes.com/covernews/wp-content/uploads/2018/07/classroom-2093744_1920-1-150x150.jpg"
                             alt="">
                        <p style="padding-top: 15px; padding-bottom: 15px;">Somebody threatened to burn the school</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style=" padding: 0; margin-top: 20px;">
        <h5>Featured Stories</h5>
        <hr style="background-color: #bb1919; width: 60px; height: 2px; margin: 0;">
        <div class="row" style="margin-top: 15px;">
            <div class="col-sm-6 col-lg-3">
                <div style=" background-color: white; width: 265px;">
                    <a href="https://demo.afthemes.com/covernews/blog/google-hit-with-record-eu-fine-over-shopping-service/">
                        <img style="height: 250px; width: 265px;"
                             src="https://demo.afthemes.com/covernews/wp-content/uploads/2018/07/pexels-photo-936237-1-1-936x897.jpeg"
                             alt="">
                        <p style="margin-top: 5px; font-weight: 700; text-align: center;">Trump-Putin: Your toolkit to
                            help understand the story </p>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div style=" background-color: white; width: 265px; ">
                    <a href="https://demo.afthemes.com/covernews/blog/google-hit-with-record-eu-fine-over-shopping-service/">
                        <img style="height: 250px; width: 265px; "
                             src="https://demo.afthemes.com/covernews/wp-content/uploads/2018/07/green-attraction-war-museum-1-1-936x897.jpg"
                             alt="">
                        <p style="margin-top: 5px; font-weight: 700; text-align: center;">Searching for the forgotten
                            heroes of World War Two </p>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div style=" background-color: white; width: 265px; ">
                    <a href="https://demo.afthemes.com/covernews/blog/google-hit-with-record-eu-fine-over-shopping-service/">
                        <img style="height: 250px;width: 265px; "
                             src="https://demo.afthemes.com/covernews/wp-content/uploads/2018/07/cargo-jet-c-17-airdrop-humvee-70347-1-1-936x897.jpeg"
                             alt="">
                        <p style="margin-top: 5px; font-weight: 700; text-align: center;">Business booming for giant
                            cargo planes dh </p>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div style=" background-color: white; width: 265px;">
                    <a href="https://demo.afthemes.com/covernews/blog/google-hit-with-record-eu-fine-over-shopping-service/">
                        <img style="height: 250px; width: 265px;"
                             src="https://demo.afthemes.com/covernews/wp-content/uploads/2018/07/bar-local-cong-ireland-38286-1-1-936x897.jpeg"
                             alt="">
                        <p style="margin-top: 5px; font-weight: 700; text-align: center;">Google hit with record EU fine
                            over Shopping service </p>
                    </a>
                </div>
            </div>
        </div>
        <div style="margin-top: 20px;" >
                <img src="https://demo.afthemes.com/covernews/wp-content/uploads/2018/11/vertical-promo-red-news.jpg" alt="">

        </div>
        <h5 style="padding-top: 40px; ">Top Stories</h5>
        <hr style="background-color: #bb1919; width: 60px; height: 2px; margin: 0;">
        <div class="row">
            <div class="col-lg-9 col-sm-12" style=" margin-top: 15px;">
                <div style=" background-color: white; height: 165px; ">
                    <a href="https://demo.afthemes.com/covernews/blog/google-hit-with-record-eu-fine-over-shopping-service/">
                        <img style="height: 165px; width: 210px; margin-right: 7px; float: left;"
                             src="https://demo.afthemes.com/covernews/wp-content/uploads/2018/07/bar-local-cong-ireland-38286-1-1-150x150.jpeg"
                             alt="">
                        <p style="padding-top: 15px;  font-weight: bold;">Google hit with record EU fine over Shopping
                            service </p>
                    </a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
                <div style=" background-color: white; height: 165px; margin-top: 15px; ">
                    <a href="https://demo.afthemes.com/covernews/blog/google-hit-with-record-eu-fine-over-shopping-service/">
                        <img style="height: 165px; width: 210px; margin-right: 7px; float: left;"
                             src="https://demo.afthemes.com/covernews/wp-content/uploads/2018/07/bar-local-cong-ireland-38286-1-1-150x150.jpeg"
                             alt="">
                        <p style="padding-top: 15px;  font-weight: bold;">Google hit with record EU fine over Shopping
                            service </p>
                    </a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
                <div style=" background-color: white; height: 165px; margin-top: 15px; ">
                    <a href="https://demo.afthemes.com/covernews/blog/google-hit-with-record-eu-fine-over-shopping-service/">
                        <img style="height: 165px; width: 210px; margin-right: 7px; float: left;"
                             src="https://demo.afthemes.com/covernews/wp-content/uploads/2018/07/bar-local-cong-ireland-38286-1-1-150x150.jpeg"
                             alt="">
                        <p style="padding-top: 15px;  font-weight: bold;">Google hit with record EU fine over Shopping
                            service </p>
                    </a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
                <div style=" background-color: white; height: 165px; margin-top: 15px; ">
                    <a href="https://demo.afthemes.com/covernews/blog/google-hit-with-record-eu-fine-over-shopping-service/">
                        <img style="height: 165px; width: 210px; margin-right: 7px; float: left;"
                             src="https://demo.afthemes.com/covernews/wp-content/uploads/2018/07/bar-local-cong-ireland-38286-1-1-150x150.jpeg"
                             alt="">
                        <p style="padding-top: 15px;  font-weight: bold;">Google hit with record EU fine over Shopping
                            service </p>
                    </a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
                <div style=" background-color: white; height: 165px; margin-top: 15px; ">
                    <a href="https://demo.afthemes.com/covernews/blog/google-hit-with-record-eu-fine-over-shopping-service/">
                        <img style="height: 165px; width: 210px; margin-right: 7px; float: left;"
                             src="https://demo.afthemes.com/covernews/wp-content/uploads/2018/07/bar-local-cong-ireland-38286-1-1-150x150.jpeg"
                             alt="">
                        <p style="padding-top: 15px;  font-weight: bold;">Google hit with record EU fine over Shopping
                            service </p>
                    </a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
                <div style=" background-color: white; height: 165px; margin-top: 15px; ">
                    <a href="https://demo.afthemes.com/covernews/blog/google-hit-with-record-eu-fine-over-shopping-service/">
                        <img style="height: 165px; width: 210px; margin-right: 7px; float: left;"
                             src="https://demo.afthemes.com/covernews/wp-content/uploads/2018/07/bar-local-cong-ireland-38286-1-1-150x150.jpeg"
                             alt="">
                        <p style="padding-top: 15px;  font-weight: bold;">Google hit with record EU fine over Shopping
                            service </p>
                    </a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
                <div style=" background-color: white; height: 165px; margin-top: 15px; ">
                    <a href="https://demo.afthemes.com/covernews/blog/google-hit-with-record-eu-fine-over-shopping-service/">
                        <img style="height: 165px; width: 210px; margin-right: 7px; float: left;"
                             src="https://demo.afthemes.com/covernews/wp-content/uploads/2018/07/bar-local-cong-ireland-38286-1-1-150x150.jpeg"
                             alt="">
                        <p style="padding-top: 15px;  font-weight: bold;">Google hit with record EU fine over Shopping
                            service </p>
                    </a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
                <div style=" background-color: white; height: 165px; margin-top: 15px; ">
                    <a href="https://demo.afthemes.com/covernews/blog/google-hit-with-record-eu-fine-over-shopping-service/">
                        <img style="height: 165px; width: 210px; margin-right: 7px; float: left;"
                             src="https://demo.afthemes.com/covernews/wp-content/uploads/2018/07/bar-local-cong-ireland-38286-1-1-150x150.jpeg"
                             alt="">
                        <p style="padding-top: 15px;  font-weight: bold;">Google hit with record EU fine over Shopping
                            service </p>
                    </a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
            </div>      
        </div>
    </div>

    

    <div class="container" style="padding: 0;">
        <div class="row" style="margin-top: 40px;">
            <div class="col-lg-9">
                <h5>Latest Videos</h5>
                <hr style="background-color: #bb1919; width: 60px; height: 2px; margin: 0; ">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel"
                     style="margin-top: 15px; margin-bottom: 40px;">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="">
                                <iframe width="850" height="400"
                                src="https://www.youtube.com/embed/tgbNymZ7vqY">
                                </iframe>          
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="">
                                <iframe width="850" height="400"
                                src="https://www.youtube.com/embed/tgbNymZ7vqY">
                                </iframe> 
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="">
                                <iframewidth="850" height="400"
                                src="https://www.youtube.com/embed/tgbNymZ7vqY">
                                </iframe> 
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="">
                                <iframe width="850" height="400"
                                src="https://www.youtube.com/embed/tgbNymZ7vqY">
                                </iframe> 
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="">
                                <iframe width="850" height="400"
                                src="https://www.youtube.com/embed/tgbNymZ7vqY">
                                </iframe> 
                            </a>
                        </div>
                       
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
          
           
        </div>
    </div>
    
    

<%- include('partials/footer') %>